@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-all-3 {
  @apply transition-all duration-300;
}

.transition-all-5 {
  @apply transition-all duration-500;
}

.focus-outline-none {
  @apply focus-within:outline-none focus-within:ring-0 focus-within:ring-offset-0 focus:outline-none;
}

.image-figure {
  @apply relative overflow-hidden;
}

.image-cover {
  @apply absolute inset-[0px] h-full w-full object-cover;
}

.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #acacac;
  border-radius: 200px;
  opacity: 1;
  transition: width 0.3s;
  margin: 0 !important;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 24px;
  background-color: #0e0e0e;
}
