@import 'tailwindcss';
@import 'boxicons/css/boxicons.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";

@theme {
  /* font family */
  --font-pretendard: 'Pretendard', sans-serif;

  /* color */
  --color-*: initial;
  --color-primary01: #d66060;
  --color-primary02: #e49898;
  --color-primary03: #e9a9a9;
  --color-primary04: #edb7b7;
  --color-primary05: #f2cfcf;
  --color-white01: #ffffff;
  --color-black01: #0e0e0e;
  --color-black02: #0e0e0e;
  --color-black03: #0e0e0e;
  --color-grey01: #5d5d5d;
  --color-grey02: #6d6d6d;
  --color-grey03: #808080;
  --color-grey04: #acacac;
  --color-grey05: #bababa;
  --color-grey06: #c6c6c6;
  --color-grey07: #e8e8e8;
  --color-grey08: #f5f5f5;
  --color-red01: #e73f3f;
  --color-yellow01: #ffc60a;

  /* font weight */
  --font-weight-thin: 100;
  --font-weight-extraLight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
  --font-weight-extraBold: 800;
  --font-weight-black: 900;
}

@layer base {
  * {
    box-sizing: content-box;
    @apply font-pretendard;
  }

  button {
    @apply cursor-pointer;
  }
}
