@import 'tailwindcss';
@import 'boxicons/css/boxicons.min.css';

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'tablog';
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* --color-base-100: #5d5d5d; */
  --color-base-200: #6d6d6d;
  --color-base-300: #808080;
  --color-base-400: #acacac;
  --color-base-500: #bababa;
  --color-base-600: #c6c6c6;
  --color-base-700: #e8e8e8;
  --color-base-800: #f5f5f5;
  --color-base-000: #ffffff;
  --color-base-content: #0e0e0e;
  --color-primary: #d66060;
  --color-primary-content: #ffffff;
  --color-secondary: #e49898;
  --color-secondary-content: #ffffff;
  --color-accent: #d66060;
  --color-accent-content: #ffffff;
  --color-neutral: #acacac;
  --color-neutral-content: #ffffff;
  --color-info: #c6c6c6;
  --color-info-content: #ffffff;
  --color-success: oklch(65% 0.25 140);
  --color-success-content: #ffffff;
  --color-warning: #ffc60a;
  --color-warning-content: #0e0e0e;
  --color-error: #e73f3f;
  --color-error-content: #ffffff;
}

@theme {
  /* font family */
  --font-pretendard: 'Pretendard', sans-serif;

  /* color */
  --color-*: initial;
  --color-primary01: #d66060;
  --color-primary02: #e49898;
  --color-primary03: #e9a9a9;
  --color-primary04: #edb7b7;
  --color-primary05: #f2cfcf;
  --color-white01: #ffffff;
  --color-black01: #0e0e0e;
  --color-black02: #0e0e0e;
  --color-black03: #0e0e0e;
  --color-grey01: #5d5d5d;
  --color-grey02: #6d6d6d;
  --color-grey03: #808080;
  --color-grey04: #acacac;
  --color-grey05: #bababa;
  --color-grey06: #c6c6c6;
  --color-grey07: #e8e8e8;
  --color-grey08: #f5f5f5;
  --color-red01: #e73f3f;
  --color-yellow01: #ffc60a;

  /* font weight */
  --font-weight-thin: 100;
  --font-weight-extraLight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
  --font-weight-extraBold: 800;
  --font-weight-black: 900;

  /* box shadow */
  --shadow-3xl: 0 35px 35px rgba(0, 0, 0, 0.25);
}

@layer base {
  * {
    box-sizing: border-box;
    @apply font-pretendard;
  }

  *:focus {
    @apply outline-none;
  }

  body {
    max-width: 100svw;
  }

  button {
    @apply cursor-pointer;
  }

  input:focus::placeholder,
  textarea:focus::placeholder {
    /* input focus 할 때 placeholder 자연스럽게 fade out */
    transition: all 0.3s;
    opacity: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* 크롬 파란색 배경 삭제 */
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}
